<div *ngIf="ave">
  <div><label>Nombre común:</label><input [(ngModel)]="ave.nombreComun" value="{{ave.nombreComun}}"></div>
  <div><label>Nombre científico:</label><input [(ngModel)]="ave.nombreComun" value="{{ave.nombreComun}}"></div>
  <div><label>Zona:</label>{{ave.paises[0].zona.nombre}}</div>
  <div><label>Países:</label></div>
  <div *ngFor="let pais of ave.paises"><p>{{pais.nombre}}</p></div>
</div>
<button (click)="updateAve()">Actualizar!</button>
<button (click)="deleteAve()">Borrar!</button>
