<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <create-ave [listComponent]="listComponent"></create-ave>
  <app-aves-list #listComponent></app-aves-list>
</div>

