<h2>
  Crear Ave
</h2>
<label>Nombre común:</label> <input type="text" [(ngModel)]="nombreComunToCreate">
<label>Nombre científico:</label> <input type="text" [(ngModel)]="nombreCientificoToCreate">
<label>Zona:</label>
<select (change)="cargarPaises()" [(ngModel)]="selectedZona">
  <option *ngFor="let zona of zonas" [ngValue]="zona">{{zona.nombre}}</option>
</select>
<label>País:</label>
<select [(ngModel)]="selectedPais">
  <option *ngFor="let pais of paises" [ngValue]="pais">{{pais.nombre}}</option>
</select>
<button (click)="createAve()">Crear Ave!</button>
