<h3>Lista y búsqueda de Aves</h3>
<label>Nombre:</label><input (keyup)="findByName($event)" type="text" value="{{nombreABuscar}}">
<label>Zona:</label>
<select [(ngModel)]="selectedZona">
  <option *ngFor="let zona of zonas" [ngValue]="zona">{{zona.nombre}}</option>
</select>
<button (click)="removeFilters()">Limpiar Filtros</button>
<div>
<div *ngFor="let ave of aves" style="display: inline-flex; margin: 20px;" >
  <app-ave-details *ngIf="showAve(ave)" [ave]="ave"></app-ave-details>
</div>
</div>

